<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Ingrese a su cuenta</h5>
                         </div>
                         <form class="row g-3 needs-validation" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                            <div class="col-12">
                               <label for="username" class="form-label">Correo electrónico</label>
                               <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid' : submitted && f['email'].errors}">
                               <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                 <div *ngIf="f['email'].errors['required']">
                                     Se requiere el correo
                                 </div>
                                 <div *ngIf="f['email'].errors['email']">
                                   Deber ser de tipo email
                                 </div>
                                 </div>  
                            </div>
                            <div class="col-12">
                               <label for="password" class="form-label">Contraseña</label> 
                               <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid' : submitted && f['password'].errors}">  
                               <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                 <div *ngIf="f['password'].errors['required']">
                                     Se requiere la contraseña
                                 </div>
                                 <div *ngIf="f['password'].errors['minlength']">
                                   El minimo de caracter es 8
                                 </div>
                                 </div>
                              </div>
                            <div class="col-12"> 
                              <button class="btn btn-primary w-100" type="submit">Iniciar sesión</button>
                           </div>
                            <div class="col-12">
                               <p class="small mb-0">No tengo cuenta? <a routerLink="/register">Crea una cuenta</a></p>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>
