.logo {
    text-decoration: none;
}
.list-header li {
    margin: 12px;
    padding: 3px;
}
.btn-logout {
    cursor: pointer;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background: rgb(12, 14, 12);
    color: #fff;
    padding: 8px 15px;
}
.username {
    text-transform: capitalize;
}
