<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Crear una cuenta</h5>
                         </div>
                         <form class="row g-3 needs-validation" [formGroup]="registerForm" (ngSubmit)="register()">
                            <div class="col-12">                      
                               <label for="username" class="form-label">Nombre de usuario</label>
                               <input type="text" class="form-control" formControlName="username" [ngClass]="{'is-invalid' : submitted && f['username'].errors}">
                               <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                 <div *ngIf="f['username'].errors['required']">
                                     Se requiere el nombre de usuario
                                 </div>
                                 <div *ngIf="f['username'].errors['minlength']">
                                   El minimo de caracter es 3
                                 </div>
                                 <div *ngIf="f['username'].errors['maxlength']">
                                   El máximo de caracter es 25
                                 </div>
                                 </div>
                              </div>
                            <div class="col-12">
                              <label for="email" class="form-label">Correo</label> 
                              <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid' : submitted && f['email'].errors}">
                              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                 <div *ngIf="f['email'].errors['required']">
                                     Se requiere el correo
                                 </div>
                                 <div *ngIf="f['email'].errors['email']">
                                   Deber ser de tipo email
                                 </div>
                                 </div>
                           </div>
                            <div class="col-12">
                               <label for="password" class="form-label">Contraseña</label> 
                               <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid' : submitted && f['password'].errors}">           
                               <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                 <div *ngIf="f['password'].errors['required']">
                                     Se requiere la contraseña
                                 </div>
                                 <div *ngIf="f['password'].errors['minlength']">
                                   El minimo de caracter es 8
                                 </div>
                                 </div>
                              </div>
                            <div class="col-12">
                              <label for="cpassword" class="form-label">Confirmar contraseña</label> 
                              <input type="password" class="form-control" formControlName="password_confirmation" [ngClass]="{'is-invalid' : submitted && f['password_confirmation'].errors}">           
                              <div *ngIf="submitted && f['password_confirmation'].errors" class="invalid-feedback">
                                 <div *ngIf="f['password_confirmation'].errors['required']">
                                     Se requiere la confirmación
                                 </div>
                              </div>
                           </div>
                            <div class="col-12"> 
                              <button class="btn btn-primary w-100" type="submit">Crear cuenta</button>
                           </div>
                            <div class="col-12 register-footer">
                               <p class="small mb-0">Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></p>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>