<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="bi bi-grid"></i> <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-heading">Pages</li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/category">
        <i class="bi bi-person"></i> <span>Categories</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/statu">
        <i class="bi bi-question-circle"></i> <span>Status</span>
      </a>
    </li>
    <li class="nav-heading">Pages</li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/user-profile">
        <i class="bi bi-person"></i> <span>Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/pages-faq">
        <i class="bi bi-question-circle"></i> <span>F.A.Q</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/pages-contact">
        <i class="bi bi-envelope"></i> <span>Contact</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/register">
        <i class="bi bi-card-list"></i> <span>Register</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/login">
        <i class="bi bi-box-arrow-in-right"></i> <span>Login</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/pages-error404">
        <i class="bi bi-dash-circle"></i> <span>Error 404</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/pages-blank">
        <i class="bi bi-file-earmark"></i> <span>Blank</span>
      </a>
    </li>
  </ul>
</aside>
