table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

mat-card-header{
    padding: 5px;
    justify-content: space-between;
}
.btn-add{
    background-color: rgb(15, 80, 15);
    color: white;
}