<main id="main" class="main">
    <div class="pagetitle">
       <h1>Category</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Category</li>
          </ol>
       </nav>
    </div>
    <section class="section dashboard">
       <div class="container">
             <div class="row">
               <div class="col-md-12">
                
               </div>
          </div>
       </div>
    </section>
 </main>